.home-container-left {
  .home-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border-radius: 15px;
    }
  }

  .home-content {
    .columns {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar-menu-position {
    position: relative !important;
    width: unset !important;
  }

  .auth-container { //sign-up-component
    //height: calc(100vh - 54px);

    .auth-bg {
      display: block !important;
    }
  }

  .home-container-left {
    .home-content {
      .item {
        margin-right: 10px;
      }
    }
  }

  .add-to-cart-noti {
    width: 30% !important;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px
  }

  .notfound .notfound-404 h1 {
    font-size: 122px
  }
}

@media screen and (max-width: 320px) {
  .auth-container {
    display: flex;
    flex-direction: column;

    .auth-logo {
      position: relative !important;
      margin: 10px 0 0 0 !important;
      text-align: center;

      img {
        width: 50%;
      }
    }
  }
}

@import '~bulma';
